{% extends '!footer.html' %}

{% block extrafooter %}
  <div class="footer">
    <div class="container">
      &copy; Copyright 2017 - 2019
      <a href="https://www.isciences.com">ISciences, LLC</a>
    </div>
  </div>
{% endblock %}
